<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Github 크롤링 애플리케이션</title>
  <link rel="stylesheet" href="../../../public/stylesheet/style.css">
</head>
<body>
  <div id="github">
    <div class="project-infomation">
      <h2>Github 크롤링 애플리케이션</h2>
      <p>
        안드로이드( 자바 ) 를 활용한 깃허브 크롤링 애플리케이션 입니다.<br>
        로그인 창에서 깃허브 아이디를 입력하면 user 정보를 jsoup로 크롤링해서 나타냅니다.
        깃허브 trend screen은 날짜와 언어에 선택에 따라 다르게 보여지도록 제작했습니다.
      </p>
      <ul>
        <li>
          <img src="" alt="">
          <a href=""></a>
        </li>
        <li>
          <img src="../../../public/images/project/github.png" alt="github">
          <a href="https://github.com/park-bohee/calculator" target="_blank">github.com/park-bohee/calculator</a>
        </li>
      </ul>
    </div>
    <div class="project-screenshot">
      <h2>screenshot</h2>
      <img src="../../../public/images/screenshot/android/calculator-1.PNG" alt="screenshot1" class="mobile">
      <img src="../../../public/images/screenshot/android/calculator-2.PNG" alt="screenshot2">
    </div>
  </div>
</body>
</html>