@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
#wrap .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.svg);
  background-size: cover;
  background-position: center center;
}
#wrap nav {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  height: 16rem;
}
#wrap nav ul {
  width: 100%;
  height: 100%;
}
#wrap nav ul li {
  float: left;
  width: 8rem;
  height: 8rem;
  list-style: none;
}
#wrap nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}
#wrap nav ul li a:hover {
  background-color:rgba(0, 0, 0, 0.25);
}
#wrap nav ul li a img.big-img {
  float: left;
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
}
#wrap nav ul li a img.small-img {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.25rem 1.25rem;
}
#wrap nav ul li a p {
  float: left;
  width: 100%;
  color: #fff;
  font-size: 0.9375rem;
  text-align: center;
  text-shadow: 1px 1px 2px #404040;
  line-height: 2rem;
}

/* popup */
#mac-popup {
  display: none;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 40rem;
  height: 24rem;
  border-radius: 10px;
  box-shadow: 5px 5px 25px #404040;
}
#mac-popup header {
  position: relative;
  width: 100%;
  height: 1.75rem;
  background-color: #f2f2f2;
  border-radius: 10px 10px 0 0;
}
#mac-popup header div.mac-btn {
  position: absolute;
  top: 0; left: 0;
  width: 4rem;
  height: 1.75rem;
  padding: 0.55rem 0.425rem;
}
#mac-popup header div.mac-btn div {
  float: left;
  display: block;
  width: 0.65rem;
  height: 0.65rem;
  margin: 0 0.2rem;
  border-radius: 100px;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 0.7rem;
  cursor: pointer;
}
#mac-popup header div.mac-btn div:nth-child(1) {
  background-color: #f95f5b;
}
#mac-popup header div.mac-btn div:nth-child(2) {
  background-color: #fcbc2a;
}
#mac-popup header div.mac-btn div:nth-child(3) {
  line-height: 0.6rem;
  background-color: #27cc40;
}
#mac-popup header div.mac-btn div span {
  opacity: 0;
}
#mac-popup header div.mac-btn div:hover span {
  opacity: 1;
}
#mac-popup header div.folder-name {
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
  height: 1.75rem;
  margin: 0 auto;
  padding: 0.375rem 0;
}
#mac-popup header div.folder-name img {
  float: left;
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem 0 0;
}
#mac-popup header div.folder-name p {
  float: left;
  font-size: 0.75rem;
}
#mac-popup > nav {
  float: left;
  width: 10rem;
  height: 22.25rem;
  border-radius: 0 0 0 10px;
  background-color: #e6e6e6;
}
#mac-popup > nav ul {
  width: 100%;
  height: 7rem;
}
#mac-popup > nav ul li {
  width: 100%;
  height: 1.75rem;
  list-style: none;
}
#mac-popup > nav ul li a {
  display: inline-block;
  width: 100%;
  height: 1.75rem;
  padding: 0.275rem 0.55rem;
  color: #000;
  text-decoration: none;
}
#mac-popup > nav ul li a img {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.55rem 0 0;
}
#mac-popup > nav ul li a p {
  float: left;
  font-size: 0.75rem;
  line-height: 1.2rem;
}
#mac-popup section {
  float: left;
  width: 30rem;
  height: 22.25rem;
  border-radius: 0 0 10px 0;
  background-color: #fff;
}
#mac-popup section iframe {
  width: 100%;
  height: 100%;
}

/* about */
#about {
  width: 100%;
  height: 100%;
}
#about .profile {
  width: 100%;
  height: 11.25rem;
  padding: 0.9375rem;
}
#about .profile h2 {
  font-size: 1.125rem;
  margin: 0 0 0.625rem 0.3125rem;
}
#about .profile .profile-img {
  float: left;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
  border-radius: 0.3125rem;
}
#about .profile .profile-img img {
  width: 100%;
  height: 100%;
}
#about .profile ul {
  float: left;
  width: 20.625rem;
  height: 7.5rem;
}
#about .profile ul li {
  width: 100%;
  height: 2.5rem;
  list-style: none;
}
#about .profile ul li img {
  float: left;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.625rem;
}
#about .profile ul li img.small-img {
  float: left;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.6875rem;
}
#about .profile ul li p, a {
  float: left;
  font-size: 0.8125rem;
  line-height: 2.5rem;
}
#about .profile ul li a {
  color: #000;
  text-decoration: none;
}
#about .education {
  width: 100%;
  height: 6.25rem;
  padding: 0.9375rem;
}
#about .education h2 {
  font-size: 1.125rem;
  margin: 0 0 0.625rem 0.3125rem;
}
#about .education ul {
  width: 100%;
  height: 2.5rem;
}
#about .education ul li {
  width: 100%;
  height: 100%;
  list-style: none;
}
#about .education ul li img {
  float: left;
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 0.15625rem 0.625rem 0.15625rem 0.3125rem;
}
#about .education ul li h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
#about .education ul li p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

/* activity */
#activity {
  width: 100%;
  height: 100%;
}
#activity ul {
  width: 100%;
  height: 100%;
  padding: 0.9375rem;
}
#activity ul li {
  width: 100%;
  height: auto;
  padding: 0 0.5rem;
  margin-bottom: 0.9375rem;
  list-style: none;
}
#activity ul li:last-child {
  margin: 0;
}
#activity ul li h3 {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
}
#activity ul li h3.kor {
  font-size: 0.90625rem;
}
#activity ul li h3 span {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
#activity ul li p {
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  margin-bottom: 5px;
}
#activity ul li img {
  height: 100px;
}

/* folderList */
.folderList {
  width: 100%;
  height: 100%;
}
.folderList li {
  float: left;
  width: 6rem;
  height: 5.5625rem;
  padding: 0.625rem;
  list-style: none;
}
.folderList li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}
.folderList li a img {
  float: left;
  width: 3rem;
  height: 3rem;
  margin: 0 0.875rem;
}
.folderList li a p {
  float: left;
  width: 100%;
  height: 1.3125rem;
  line-height: 1.3125rem;
  text-align: center;
}

/* fileList */
.fileList {
  width: 100%;
  height: 100%;
}
.fileList li {
  float: left;
  width: 7.5rem;
  height: 7.375rem;
  padding: 0.625rem;
  list-style: none;
}
.fileList li a {
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
.fileList li img {
  float: left;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.625rem 1.5625rem;
}
.fileList li p {
  float: left;
  width: 100%;
  height: 1.5625rem;
  line-height: 1.5625rem;
  font-size: 0.8125rem;
  text-align: center;
}

/* project-infomation */
.project-infomation {
  width: 100%;
  height: 180px;
  padding: 0.9375rem;
}
.project-infomation h2 {
  font-size: 1.125rem;
  margin: 0 0 0.625rem 0.3125rem;
}
.project-infomation h2 span {
  font-size: 0.875rem;
}
.project-infomation p {
  width: 100%;
  height: 80px;
  font-size: 0.84375rem;
  line-height: 1.25rem;
}
.project-infomation ul {
  float: left;
  width: 20.625rem;
  height: 2.5rem;
}
.project-infomation ul li {
  width: 100%;
  height: 1.25rem;
  list-style: none;
}
.project-infomation ul li img {
  float: left;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.0625rem 0.3125rem 0.0625rem 0;
}
.project-infomation ul li a {
  color: #4286f4;
  font-size: 0.78125rem;
  line-height: 1.25rem;
}
.project-screenshot {
  width: 100%;
  height: 176px;
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
}
.project-screenshot h2 {
  font-size: 1.125rem;
  margin: 0 0 0.625rem 0.3125rem;
}
.project-screenshot img {
  float: left;
  height: 130px;
}
.project-screenshot img.pc {
  margin: 0 22px 0 0;
}