@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
#wrap .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.svg);
  background-size: cover;
  background-position: center center;
}
#wrap nav {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  height: 16rem;
}
#wrap nav ul {
  width: 100%;
  height: 100%;
}
#wrap nav ul li {
  float: left;
  width: 8rem;
  height: 8rem;
  list-style: none;
}
#wrap nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}
#wrap nav ul li a:hover {
  background-color:rgba(0, 0, 0, 0.25);
}
#wrap nav ul li a img.big-img {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
}
#wrap nav ul li a img.small-img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.25rem 1.25rem;
}
#wrap nav ul li a p {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #404040;
  line-height: 2rem;
}