<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>arduino</title>
  <link rel="stylesheet" href="../../public/stylesheet/style.css">
</head>
<body>
  <div id="arduino">
    <ul class="fileList">
      <li>
        <a href="" class="insideFolder" data-iframe="project/android/calculator">
          <img src="../../public/images/project/android/calculator.png" alt="calculator">
          <p>계산기</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/android/color-game">
          <img src="../../public/images/project/android/color-game.png" alt="color-game">
          <p>다른 색 맞추기 게임</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/android/github">
          <img src="../../public/images/project/android/color-game.png" alt="github">
          <p>Github 크롤링 애플리케이션</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/android/k-biz">
          <img src="../../public/images/project/android/color-game.png" alt="k-biz">
          <p>K-BIZ 애플리케이션</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>