<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>javascript</title>
  <link rel="stylesheet" href="../../public/stylesheet/style.css">
</head>
<body>
  <div id="javascript">
    <ul class="fileList">
      <li>
        <a href="" class="insideFolder" data-iframe="project/javascript/smart-bus">
          <img src="../../public/images//project/javascript/smart-bus.png" alt="smart-bus">
          <p>버스 도착 시각 조회 사이트</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/javascript/smart-airport">
          <img src="../../public/images//project/javascript/smart-airport.png" alt="smart-airport">
          <p>인천공항 API 사이트</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/javascript/forinner">
          <img src="../../public/images//project/javascript/forinner.png" alt="forinner">
          <p>의료 정보 사이트</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/javascript/aladin">
          <img src="../../public/images//project/javascript/aladin.png" alt="aladin">
          <p>알라딘 API 사이트</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>