<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>php</title>
  <link rel="stylesheet" href="../../public/stylesheet/style.css">
</head>
<body>
  <div id="php">
    <ul class="fileList">
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/find-dog">
          <img src="../../public/images/project/php/find-dog.png" alt="find-dog">
          <p>유기견 사이트</p>
        </a>
      </li>
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/sdhs-conference">
          <img src="../../public/images/project/php/conference.png" alt="sdhs-conference">
          <p>투표 차트 사이트</p>
        </a>
      </li>
      <!--
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/restful-api">
          <img src="../../public/images//project/php/restful-api.png" alt="restful-api">
          <p>restful api</p>
        </a>
      </li>
      -->
      <!--
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/naver-news">
          <img src="../../public/images//project/php/news.png" alt="naver-news">
          <p>naver news</p>
        </a>
      </li>
      -->
      <!-- 
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/laka-pos">
          <img src="../../public/images//project/php/laka-pos.png" alt="laka-pos">
          <p>laka pos</p>
        </a>
      </li> 
      -->
      <!--
      <li>
        <a href="" class="insideFolder" data-iframe="project/php/nogcha">
          <img src="../../public/images//project/php/nogcha.png" alt="nogcha">
          <p>nogcha</p>
        </a>
      </li>
      -->
    </ul>
  </div>
</body>
</html>