<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>about</title>
  <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>
  <div id="certificate">
    <ul class="fileList">
      <li>
        <img src="../public/images/file.png" alt="sdhs-logo">
        <p>ITQ Master</p>
      </li>
      <li>
        <img src="../public/images/certificate/information-processing-1.jpg.png" alt="information-processing">
        <p>information processing</p>
      </li>
      <li>
        <img src="../public/images/certificate/mapping-1.jpg.png" alt="mapping">
        <p>mapping</p>
      </li>
      <li>
        <img src="../public/images/certificate/web-design-1.jpg.png" alt="web-design">
        <p>web design</p>
      </li>
    </ul>
  </div>
</body>
</html>