<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nogcha</title>
  <link rel="stylesheet" href="../../../public/stylesheet/style.css">
</head>
<body>
  <div id="nogcha">
    <div class="project-infomation">
      <h2>nogcha - <span>phpmyadmin</span></h2>
      <p>
        php + phpmyadmin 을 활용한 게시판 사이트 입니다.<br>
        글로벌숙련기술진흥원 모던웹디자인 과정에서 배웠던 것을 복습하고자 진행했던 프로젝트 입니다.<br>
        추가로 댓글 달기 기능을 구현했으며 bootstrap을 사용해 디자인 했습니다.<br>
      </p>
      <ul>
        <li>
          <img src="../../../public/images/project/url.png" alt="url">
          <a href="http://smartspacephp.cafe24.com/2017/1702/nogcha" target="_blank">smartspacephp.cafe24.com/nogcha</a>
        </li>
        <li>
          <img src="../../../public/images/project/github.png" alt="github">
          <a href="https://github.com/park-bohee/nogcha" target="_blank">github.com/park-bohee/nogcha</a>
        </li>
      </ul>
    </div>
    <div class="project-screenshot">
      <h2>screenshot</h2>
      <img src="../../../public/images/screenshot/php/nogcha-1.png" alt="screenshot1" class="pc">
      <img src="../../../public/images/screenshot/php/nogcha-2.png" alt="screenshot2"> 
    </div>
  </div>
</body>
</html>