<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>restful api</title>
  <link rel="stylesheet" href="../../../public/stylesheet/style.css">
</head>
<body>
  <div id="restful-api">
    <div class="project-infomation">
      <h2>restful api - <span>phpmyadmin</span></h2>
      <p>
      </p>
      <ul>
        <li>
          <img src="../../../public/images/project/url.png" alt="url">
          <a href=""></a>
        </li>
        <li>
          <img src="../../../public/images/project/github.png" alt="github">
          <a href="https://github.com/park-bohee/restful-api" target="_blank">github.com/park-bohee/restful-api</a>
        </li>
      </ul>
    </div>
    <div class="project-screenshot">
      <h2>screenshot</h2>
      <img src="../../../public/images/screenshot/php/rest-api-1.png" alt="screenshot1" class="pc">
      <img src="../../../public/images/screenshot/php/rest-api-2.png" alt="screenshot2"> 
    </div>
  </div>
</body>
</html>