<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>kakao friends</title>
  <link rel="stylesheet" href="../../../public/stylesheet/style.css">
</head>
<body>
  <div id="kakao-friends">
    <div class="project-infomation">
      <h2>카카오 프렌즈 사이트</h2>
      <p>
        kakao friends + 쇼핑몰 을 주제로 만든 사이트 입니다.<br>
        웹 디자인을 고려해 kakao oven을 사용해 프로토타입을 제작했습니다.<br>
        html 시멘틱 구조를 참고했으며 시멘틱 태그를 활용해 제작했습니다.<br>
      </p>
      <ul>
        <li>
          <img src="../../../public/images/project/url.png" alt="url">
          <a href="https://park-bohee.github.io/kakao-friends" target="_blank">park-bohee.github.io/kakao-friends</a>
        </li>
        <li>
          <img src="../../../public/images/project/github.png" alt="github">
          <a href="https://github.com/park-bohee/kakao-friends" target="_blank">github.com/park-bohee/kakao-friends</a>
        </li>
      </ul>
    </div>
    <div class="project-screenshot">
      <h2>screenshot</h2>
      <img src="../../../public/images/screenshot/design/kakao-friends-1.png" alt="screenshot1" class="pc">
      <img src="../../../public/images/screenshot/design/kakao-friends-2.png" alt="screenshot2"> 
    </div>
  </div>
</body>
</html>